.btn{
    width: 100px;
    height: 50px;
    background-color: bisque;
    cursor: grab;

}

.shadow{
background: rgba(37, 29, 29, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}